<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >

 

<listeners>
        <listener
            class-name="com.valuemomentum.retail.medpluss.utils.Listeners"></listener>
    </listeners>
    
  <test name="MedPluss Tests" >
    <classes>
       <class name="com.valuemomentum.retail.medplus.MedPlusDemo" />
    </classes>
  </test>
 
</suite>